.projects {
  display: flex;
  color: white;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projects-card {
  background-color: white;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.projects-card-text {
  text-align: center;
  padding: 20px;
}

.projects-card p {
  color: black;
  margin: 10px 0;
}

.projectsText {
  text-align: center;
  line-height: 2;
  padding: 0.5rem;
}

@media only screen and (max-width: 918px) {
  .projects {
    margin-left: 10vh;
  }

  .projects-card {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 10px;
    flex: 100%;
  }
}
