.project {
  width: 350px;
  height: 250px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 23px;
  border: 1px solid black;
  transition: 0.3s;
  background-position: center;
  background-size: cover;
  margin: 10px;
}

.project p {
  color: white;
  font-weight: bolder;
}

.project-text {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: space-evenly;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-desc {
  font-size: 1.2rem;
  text-align: center;
}

.project-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.project-text:hover {
  opacity: 0.95;
}

.project-button {
  width: 150px;
  padding: 5px;
  font-size: 0.9rem;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.project-button:focus {
  outline: none;
}

.project-button:hover {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width: 630px) {
  .project {
    margin: 25px 0;
    width: 275px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
    transition: transform 0.3s ease-out;
  }

  .project-text {
    opacity: 0.9;
  }

  .project-desc {
    font-size: 1rem;
    text-align: center;
  }

  .project-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-button {
    width: 200px;
    margin: 10px 0;
    font-size: 1rem;
  }

  .project p {
    margin-top: 10px;
  }
}
