.project {
  margin: 10px;
  width: 500px;
  height: 250px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  border: 1px solid black;
  transition: transform 0.3s ease-out;
  padding: 0.5rem;
}

.project-img {
  width: 250px;
  border-radius: 20px;
  flex: 1;
}

.project p {
  color: white;
  font-weight: bolder;
}

.project-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: space-evenly;
}

button {
  width: 140px;
  padding: 5px;
  font-size: 1rem;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width: 500px) {
  .project {
    margin: 20px 5px;
    width: 250px;
    height: fit-content;
    background-color: #1a1a1a;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 1px solid black;
    transition: transform 0.3s ease-out;
    padding: 0.5rem;
  }

  .project-img {
    width: 100%;
  }

  button {
    margin: 10px 0;
  }

  .project p {
    margin-top: 10px;
  }
}
